/* 
google fonts

font-family: 'Iceberg', cursive;





/* stylesheet for mobile App */
/* Reset */
html,body,div,P,ul,ol,li,h1,h2,h3,h4,h5,h6{
    margin:0;
    padding:0;


/* attempt to not make everything a mess*/
}
body{
    background-color:cornsilk;
}


div#container{
    width:100%
    
    border:3px dashed orange;
    background-color:lawngreen;
}
header{
    width:100%;
    padding:50px;
    background-color:salmon;
}
header h1{
    /*background-color:azure;*/
    font-family:fantasy;
    font-size: 35px;
    font-family: 'Iceberg', cursive;
    float:center;
    
}
ontent{
    width:100%;
    background-color:bisque;
    
}
/*
nav ul{
    list-style: : none;
    
}
nav ul li{
    
    list-style:none;
    

}
nav ul li a{
    float: left;
    color: black;
    display:block;
    padding:5px 15px;
    border-right: 2px solid #000000;
    text-decoration: :none;
    border: solid;
 
    
}
nav ul li a:hover{
    background-color: black;
    color:white;
    
}
nav{
    background-color: a;
    color:darkorange;
    font-family:monospace;
    font-size: 1.5em;
}
*/
/*
footer{
    position:fixed;
    bottom:0;
    left:0;
    width:100%;
    height:50px;
    background-color:chocolate;
    
}
div.keepOpen{
    clear:both;

}
*/


.icon-bar {
  position:absolute;
  bottom:0;
  width: 100%;
  background-color: #555;
  overflow: auto;
}

.icon-bar a {
  float: left;
  width: 20%;
  text-align: center;
  padding: 12px 0;
  transition: all 0.3s ease;
  color: white;
  font-size: 36px;
}

.icon-bar a:hover {
  background-color: #000;
}

.active {
  background-color: #ffa20e;
}
header h1{
    text-align: center;
}
header img#product{
    display: block;
    margin:auto;
    
}
header img#product:hover{
    display: block;
    margin:auto;
    width:9999px;
    
}
div .content{
    border:solid;
    border-color:black;
    border-radius: 3px;
    background-color: white;
    float:left;
    margin: 0px;
    width:25%;
}
div .content:hover{
    
    border:solid;
    width:20%;
    border-color:black;
    background-color: tan;
    transition: 1s;
    float:left;
    
}
div h4 p{
    font-size: 35px;
    
}
@media screen and (max-width:600px) {
    div .content{
    border:solid;
    border-color:black;
    border-radius: 0px;
    background-color: white;
    width:100%;
    float:left;
    margin:2.5%;
        
}
   div .content:hover{
    
    border:solid;
    width:100%;
    border-color:black;
    background-color: tan;
    transition: 1s;
    float:left;
} 
    
}